@media screen and (max-width: 1024px) {
    
    .aboutcont h2{
        font-size: 37px;
    }
    .aboutcont2 p {
    font-size: 18px;
}
}




@media screen and (max-width: 768px) {
.cursor-dot {
    display: none;
}
    .mainmenuhead {
        position: fixed;
        top: 106px;
        width: 100%;
        right: 23px;
        padding: 12px;
        width: 200px;
        border-radius: 14px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
       
    }

    .toggle {
        position: relative;
        z-index: 22;
         padding-right: 10px

    }

    .toggle span {
        display: block;
        background-color: #000;
        margin: 6px 0;
        display: block;
        width: 28px;
        height: 2px;
        transition: all 0.3s;
    }

    .mainmenuhead.show {
        opacity: 1;
        visibility: visible;

    }
li{
    margin-top: 15px;
}
    .menu {
        display: block;
        
    }
.heroPort {
    margin: 0px 16px;
}
    .toggle.show span:nth-child(2) {
        width: 0;
    }

    .toggle.show span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px)
    }

    .toggle.show span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -2px);
    }

    .abtbox {
        padding: 8px 20px 8px 20px;
    }

    .button {
        margin-right: 45px;

    }

    .aboutcont2 {
        padding-top: 51px;
    }

    .aboutcont h2 {
        font-size: 27px;
    }

    .serbox h4 {
        font-size: 20px;
    }

    .serbox p {
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {

   


.logo{
    padding-left: 15px;
}
    .button {
        margin-right: 56px;

    }

    .heroimg img {
        padding-top: 100px;
    }

    .servicecont h3 {
        padding-bottom: 20px;
    }

    .abtbox {
        padding: 8px 35px 8px 35px;
    }

    .aboutcont2 {
        padding-top: 50px;
    }

    .aboutcont h2 {
        font-size: 39px;
    }

    .aboutcont2 p {
        padding-bottom: 20px;
    }
}


/* ABOUT */

@media screen and (max-width: 1024px) {


    
    
    .aboutbox {
        padding: 8px 15px 8px 15px;
    }



    .abtboxall {
        padding-top: 53px;
    }
     .abtcontent h3{
        font-size: 30px ;
     }
     .abtcontent p{
        font-size: 16px;
     }
    }

@media screen and (max-width: 768px) {


    .aboutboxes {
        gap: 4px;
    }

    .aboutboxes2 {
        gap: 4px;
    }

    .aboutboxes3 {
        gap: 4px;
    }

    .aboutbox {
        padding: 8px 5px 8px 5px;
        font-size: 15px;
    }
   
    
    .skillcont h1 {
        font-size: 122px;
        padding-top: 50px;
    }
    .abtcontent h3 {
            font-size: 23px;
    }
            .abtcontent p {
            font-size: 14px;
            }
        }


@media screen and (max-width: 600px) {
    .aboutconts p {
        top: 60%;
        font-size: 20px;
    }

    .aboutconts h1 {
        font-size: 59px;
    }

    .aboutconts {
        padding-top: 90px;
    }

    .aboutsection {
        padding-top: 70px;
    }

    .button6 {
        width: 176px;
        padding: 12px 30px 12px 30px;
    }

    .abtbtns {
        padding-bottom: 30px;
    }


    .abtboxall {
        padding-top: 4px;
        padding-bottom: 50px;
    }

    .skillcont h1 {
        padding-top: 16px;
    }

    .skillcont p {
        top: 25%;
        right: 6%;
        font-size: 16px;
    }
}

/* PROJECTS */

@media screen and (max-width: 1024px) {

    .procont p {
        top: 56%;
    }
}

@media screen and (max-width: 768px) {
    .procont p {

        top: 57%;
    }

    .prcontent p {
        font-size: 14px;
    }

    .prcontent h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .procont h1 {
        font-size: 59px;
    }

    .procont p {
        top: 60%;
        font-size: 20px;
    }

    .procont {
        padding-top: 90px;
    }
    .procont h1{
        font-size: 60px;
    }
    .prcontent h4 {
        padding-bottom: 15px;
        padding-top: 20px;
    }
}


/* CONTACT */

@media screen and (max-width: 1024px) {

    

    .hello h1 {
        padding-left: 51px;
    }

    .contact p {
        top: 53%;
        right: 35%;
    }

    .footer1 p {
        font-size: 20px;
    }

    .footer1 h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 768px) {


    .contact p {
        right: 30%;
    }

    .hello h1 {
        font-size: 80px;
        padding-left: 3px;

    }
   .button {
        margin-right: 10px
    }
    .hellopara h4 {
        font-size: 20px;
        padding-top: 37px;
    }

    .footer1 p {
        padding-left: 60px;
        font-size: 15px;
    }

    .footer1 h2 {
        padding-left: 58px;
        font-size: 35px;
        padding-bottom: 12px;

    }

    .footer1 img {
        padding-left: 56px;
    }

    .icons2 {
        padding-left: 53px;
    }

}

@media screen and (max-width: 600px) {

    .contact {
        padding-top: 90px;
    }

    .contact h1 {
        font-size: 59px;
    }

    .contact p {
        font-size: 20px;
                top: 60%;
        right: 31%;
    }

    .icons2 {
        padding-left: 0;
    }

    .footer1 h2 {
        padding-left: 0;
    }

    .footer1 p {
        padding-left: 0;
    }

    .footer1 img {
        padding-left: 0;
    }

 
    
    .hellopara h4{
        padding-top: 0;
    }
}