
@media screen and (max-width: 1024px) {

    .aboutcont h2 {
        font-size: 37px;
    }

    .aboutcont2 p {
        font-size: 18px;
    }
}

@media screen and (max-width:992px) {
    
    .cursor-dot {
        display: none;
    }

    .mainmenuhead {
        position: fixed;
        top: 106px;
        width: 100%;
        right: 23px;
        padding: 12px;
        width: 200px;
        border-radius: 14px;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;

    }

    .toggle {
        position: relative;
        z-index: 22;
        padding-right: 10px
    }

    .toggle span {
        display: block;
        background-color: #000;
        margin: 6px 0;
        display: block;
        width: 28px;
        height: 2px;
        transition: all 0.3s;
    }

    .mainmenuhead.show {
        opacity: 1;
        visibility: visible;

    }

    li {
        margin-top: 15px;
    }

    .menu {
        display: block;

    }

    .toggle.show span:nth-child(2) {
        width: 0;
    }

    .toggle.show span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px)
    }

    .toggle.show span:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -2px);
    }
}

@media screen and (min-width: 769px)and (max-width: 993px) {

    .aboutcont h2 {
        font-size: 27px;
    }

    .aboutcont2 {
        padding-top: 47px;
    }

    .servicecont h3{
        font-size: 21px;
    }

    .serbox h4{
        font-size: 21px;
    }
}

@media screen and (max-width: 768px) {

    .abtbox {
        padding: 8px 20px 8px 20px;
    }

    .button {
        margin-right: 45px;
    }

    .aboutcont2 {
        padding-top: 51px;
    }

    .aboutcont h2 {
        font-size: 27px;
    }

    .serbox h4 {
        font-size: 20px;
    }

    .serbox p {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {

    .logo {
        padding-left: 15px;
    }

    .button {
        margin-right: 56px;
    }

    .heroimg img {
        padding-top: 100px;
    }

    .servicecont h3 {
        padding-bottom: 20px;
        font-size: 21px;
    }

    .abtbox {
        padding: 8px 35px 8px 35px;
    }

    .aboutcont2 {
        padding-top: 50px;
    }

    .aboutcont h2 {
        font-size: 39px;
        font-size: 27px;
    }

    .aboutcont2 p {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 340px) and (max-width: 409px) {

.aboutcont h2 {
        font-size: 31px;
    }

    .servicecont h3{
        padding-bottom: 30px;
    }

    .ftrcont p {
    font-size: 14px;
    margin-bottom: 5px;
    }
   
    .ftrcont h1 {
        font-size: 26px;
        padding-bottom: 24px;
    }

    .serboxes{
        display: block;
    }
    .serbox{
        margin-bottom: 20px;
    }

     .button4{
        padding: 6px 18px;
    }
}


/* ABOUT */

@media screen and (max-width: 1024px) {

    .aboutbox {
        padding: 8px 15px 8px 15px;
    }

    .abtboxall {
        padding-top: 53px;
    }

    .abtcontent h3 {
        font-size: 30px;
    }

    .abtcontent p {
        font-size: 16px;
    }

    .skillcont h1 {
        font-size: 173px;
    }
}

@media screen and (max-width: 768px) {

    .aboutboxes {
        gap: 4px;
    }

    .aboutboxes2 {
        gap: 4px;
    }

    .aboutboxes3 {
        gap: 4px;
    }

    .aboutbox {
        padding: 8px 5px 8px 5px;
        font-size: 15px;
    }

    .skillcont h1 {
        font-size: 122px;
        padding-top: 50px;
    }

    .abtcontent h3 {
        font-size: 23px;
    }

    .abtcontent p {
        font-size: 14px;
    }
}

@media screen and (min-width: 769px)and (max-width: 992px) {

    .aboutbox p {
        font-size: 13px;
    }

    .aboutbox {
        padding: 8px 6px 8px 6px;
    }

    .skillcont h1 {
        font-size: 125px;
        padding-top: 45px;
    }
}

@media screen and (max-width: 600px) {

    .cursor-dot {
        display: none;
    }

    .logo img{
        padding-left: 6px;
        padding-top: 5px;
    }

    .aboutconts p {
        top: 60%;
        font-size: 20px;
    }

    .aboutconts h1 {
        font-size: 59px;
    }

    .aboutconts {
        padding-top: 90px;
    }

    .aboutsection {
        padding-top: 70px;
    }

    .button6 {
        width: 176px;
        padding: 12px 30px 12px 30px;
    }

    .abtbtns {
        padding-bottom: 30px;
    }


    .abtboxall {
        padding-top: 4px;
        padding-bottom: 50px;
    }

    .skillcont h1 {
        padding-top: 16px;
    }

    .skillcont p {
        top: 25%;
        right: 6%;
        font-size: 16px;
    }
}

@media screen and (min-width: 340px) and (max-width: 409px) {
    
    .aboutsection {
        padding-top: 45px;
    }

    .aboutconts h1 {
        font-size: 44px;
    }

    .button6 {
        width: 151px;
        padding: 12px 20px 12px 20px;
    }

    .skillcont h1 {
        font-size: 108px;
    }

    .skillsec {
    padding-top: 55px;
}

    .button{
            padding: 6px 30px;
    }
}

/* PROJECTS */

@media screen and (max-width: 1024px) {

    .procont p {
        top: 56%;
    }
}

@media screen and (max-width: 768px) {
    .procont p {

        top: 57%;
    }

    .prcontent p {
        font-size: 14px;
    }

    .prcontent h4 {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {

    .cursor-dot {
        display: none;
    }

    .procont h1 {
        font-size: 59px;
    }

    .procont p {
        top: 60%;
        font-size: 20px;
    }

    .procont {
        padding-top: 90px;
    }

    .procont h1 {
        font-size: 60px;
    }

    .prcontent h4 {
        padding-bottom: 15px;
        padding-top: 20px;
    }
}
@media screen and (min-width: 340px) and (max-width: 409px) {
   
    .procont h1 {
        font-size: 48px;
    }

    .procont p {
        font-size: 19px;
    }


}


/* CONTACT */

@media screen and (max-width: 1024px) {

   

    

    .footer1 p {
        font-size: 20px;
    }

    .footer1 h2 {
        font-size: 38px;
    }
}

@media screen and (max-width: 768px) {


    .hello h1 {
        font-size: 80px;
        padding-left: 3px;
    }

    .button {
        margin-right: 10px
    }

    .hellopara h4 {
        font-size: 20px;
        padding-top: 37px;
    }

    .footer1 p {
        padding-left: 60px;
        font-size: 15px;
    }

    .footer1 h2 {
        padding-left: 58px;
        font-size: 35px;
        padding-bottom: 12px;
    }

    .footer1 img {
        padding-left: 56px;
    }

    .icons2 {
        padding-left: 53px;
    }

}

@media screen and (min-width: 769px)and (max-width: 992px) {
    .hello h1 {
        font-size: 80px;
        padding-left: 0;
        padding-top: 0;
    }

    .hellopara h4 {
        padding-top: 14px;
        font-size: 20px;
    }

    .ftrbox2 {
        margin-top: 0;
    }

}

@media screen and (max-width: 600px) {

    .cursor-dot {
        display: none;
    }

    .contact {
        padding-top: 90px;
    }

    .contact h1 {
        font-size: 59px;
    }

    .contact p {
        font-size: 20px;
        top: 60%;
    }

    .icons2 {
        padding-left: 0;
    }

    .footer1 h2 {
        padding-left: 0;
    }

    .footer1 p {
        padding-left: 0;
    }

    .footer1 img {
        padding-left: 0;
    }

    .hellopara h4 {
        padding-top: 0;
    }
    .endcont p{
    padding-left: 24px;
}
}
@media screen and (min-width: 340px) and (max-width: 409px) {

        .contact h1 {
        font-size: 48px;
    }

     .footer1 p {
        font-size: 14px;
    }
}